<div class="row g-2">
	<div class="col">
		<label>Выход от</label>
		<app-form-input-number [name]="'percentOutFrom'" [widthMax]="true" [allowDecimal]="true" [maxDecimalLength]="2"/>
	</div>

	<div class="col">
		<label>Выход до</label>
		<app-form-input-number [name]="'percentOutTo'" [widthMax]="true" [allowDecimal]="true" [maxDecimalLength]="2"/>
	</div>

	<div class="col">
		<label>Выход шаг</label>
		<app-form-input-number [name]="'percentOutStep'" [widthMax]="true" [allowDecimal]="true" [maxDecimalLength]="2"/>
	</div>
</div>