<div class="row g-2">
	<div class="col">
		<label>Вход от</label>
		<app-form-input-number [name]="'percentInFrom'" [widthMax]="true" [allowDecimal]="true" [maxDecimalLength]="2"/>
	</div>

	<div class="col">
		<label>Вход до</label>
		<app-form-input-number [name]="'percentInTo'" [widthMax]="true" [allowDecimal]="true" [maxDecimalLength]="2"/>
	</div>

	<div class="col">
		<label>Вход шаг</label>
		<app-form-input-number [name]="'percentInStep'" [widthMax]="true" [allowDecimal]="true" [maxDecimalLength]="2"/>
	</div>
</div>