:host {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1rem solid var(--gray-02);
    padding: 0.5rem;
    cursor: pointer;

    > div {
        display: flex;
        align-items: center;

        svg-icon {
            display: flex;
            align-items: center;
            margin-left: 0.2rem;
        }
    }
}
