.modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top: 0.1rem solid var(--component-border);
    padding: 0.5rem 1rem;

    button {
        height: 2rem;
        padding: 0 1rem;
        border: none;
        border-radius: 0.3rem;
        cursor: pointer;
    }

    .btn-save,
    .btn-add {
        color: #fff;
        background: var(--green-01);
        height: 2rem;

        &:disabled {
            background: var(--gray-06);
            cursor: not-allowed;
        }

        &:hover:not(:disabled) {
            color: #fff;
            background: var(--green-03);
        }
    }

    .btn-cancel {
        color: #000;
        margin-left: auto;

        &:hover {
            color: #fff;
            background: var(--red-01);
        }
    }

    .reset {
        width: 1rem;
        height: 1rem;
        cursor: pointer;

        &:hover {
            color: var(--blue-01);
        }
    }
}

//.modal-footer {
//    display: flex;
//    align-items: center;
//    justify-content: flex-end; // Или space-between, если нужен reset слева
//    gap: 0.5rem;
//    padding: 0.5rem 1rem;
//    border-top: 0.1rem solid var(--component-border);
//
//    button {
//        height: 2rem;
//        padding: 0 1rem;
//        font-size: 0.875rem;
//        border: none;
//        border-radius: 0.3rem;
//        cursor: pointer;
//    }
