:host {
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 998;
}

.loading {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;

    circle {
        transition: stroke-dashoffset 0.3s;
        transform: rotate(-90deg);
        transform-origin: 50% 50%;
    }
}
