<div class="calculator-formula-right mt-4" [formGroup]="formGroup">
    <div class="title">Формула</div>

    <div class="row p-2 g-2" formArrayName="formulas">
        <div *ngFor="let formulaControl of formulas.controls; let i = index" [formGroupName]="i" class="col col-6">
            <div class="field">
                <div class="header">
                    <label>{{ "filter." + preset.formulas[i].name | translate }}</label>
                    <svg-icon name="delete" svgClass="icon" (click)="onDelete(i)"/>
                </div>

                <app-form-input-number [name]="'multiplier'" [widthMax]="true" [allowSign]="true" [allowDecimal]="true" [delay]="0" (valueChange)="onChange(i, $event)"/>
            </div>
        </div>
    </div>
</div>
