<div class="row g-2" [formGroup]="formGroup">
	<div class="col col-auto">
		<input type="checkbox" class="toggle" formControlName="stopTime"/>
	</div>

	<div class="col">
		<label>Стоп время от</label>
		<app-form-input-number [name]="'stopTimeFrom'" [widthMax]="true"/>
	</div>

	<div class="col">
		<label>Стоп время до</label>
		<app-form-input-number [name]="'stopTimeTo'" [widthMax]="true"/>
	</div>

	<div class="col">
		<label>Шаг</label>
		<app-form-input-number [name]="'stopTimeStep'" [widthMax]="true"/>
	</div>
</div>