:host {
    position: relative;
    display: flex;
    flex-direction: column;
    background: var(--component-background);
    border: 0.1rem solid var(--component-border);
    border-radius: 0.2rem;
    height: 100%;
}

.row {
    > .col-4 {
        &.border-top {
            border-top: 0.1rem solid var(--component-border);
        }

        border-right: 0.1rem solid var(--component-border);
    }
}

//.row {
//    overflow: hidden;
//
//    &.border {
//        border-top: 0.1rem solid red;
//    }
//
//    .col-4 {
//        > .row {
//            display: flex;
//            flex-direction: column;
//            border-right: 0.1rem solid var(--component-border);
//        }
//    }
//}
