<div ngbNav #nav="ngbNav" [(activeId)]="active" (activeIdChange)="onTabChange($event)" [animation]="false" class="horizontal">
	<div ngbNavItem="botList">
		<a ngbNavLink>Боты</a>

		<ng-template ngbNavContent>
			<app-bot-list/>
		</ng-template>
	</div>

	<div ngbNavItem="calculate">
		<a ngbNavLink>Расчеты</a>

		<ng-template ngbNavContent>
			<app-calculate/>
		</ng-template>
	</div>

	<div class="right">
		<div class="actions" *ngIf="active === 'botList'">
			<form [formGroup]="actionFormGroup">
				<app-form-select [name]="'action'"
								 [width]="10"
								 [items]="actions"
								 [item]="actionFormGroup.get('action').value ? { key: actionFormGroup.get('action').value, value: actionFormGroup.get('action').value } : { key: '', value: '' }"
								 [addEmpty]="false"
								 [allowChanged]="true"/>

				<button class="btn btn-action" (click)="onAction()" [disabled]="actionFormGroup.invalid">Выполнить</button>
			</form>
		</div>
	</div>
</div>

<div [ngbNavOutlet]="nav" class="content"></div>
