<div ngbNav #nav="ngbNav" [(activeId)]="active" (activeIdChange)="onTabChange($event)" [animation]="false" class="horizontal">
	<div ngbNavItem="bot">
		<a ngbNavLink>Активные</a>

		<ng-template ngbNavContent>
			<!--            <app-trade/>-->
		</ng-template>
	</div>

	<div ngbNavItem="calculate">
		<a ngbNavLink>Расчеты</a>

		<ng-template ngbNavContent>
			<app-calculate/>
		</ng-template>
	</div>

	<div class="right">
		<!--        <div class="pages" *ngIf="active === 'archive'">-->
		<!--    			<span class="total">-->
		<!--    				{{ total$ | async }}-->
		<!--    			</span>-->

		<!--            <ngb-pagination [collectionSize]="total$ | async"-->
		<!--                            [pageSize]="configService.get('pagination.onPage')"-->
		<!--                            [maxSize]="configService.get('pagination.onNav')"-->
		<!--                            [page]="page$ | async"-->
		<!--                            (pageChange)="onPage($event)"-->
		<!--                            [directionLinks]="false"-->
		<!--                            [rotate]="true">-->
		<!--            </ngb-pagination>-->
		<!--        </div>-->

		<!--        <div class="actions">-->
		<!--            <i class="bi"-->
		<!--               [ngClass]="{'bi-toggle-on': toggleStates[active], 'bi-toggle-off': !toggleStates[active]}"-->
		<!--               [ngbTooltip]="toggleStates[active] ? 'Показать всех ботов' : 'Показать ботов только на этой котировке'"-->
		<!--               [openDelay]="1000"-->
		<!--               (click)="onToggle()">-->
		<!--            </i>-->
		<!--        </div>-->
	</div>
</div>

<div [ngbNavOutlet]="nav" class="content"></div>
